a,a:hover{
	text-decoration: none;
}

/*template_add Css*/
.template-layout{
	position: relative;
	width: 78%;
	margin-top: 10px;
	float: left;
	display: block;
	border: dotted 3px #cdcdcd;
	min-height: 340px;
	height: 100%;
}

.template-layout.empty:after {
	content: attr(data-content);
	position: absolute;
	text-align: center;
	top: 140px;
	left: 280px;
	font-weight: bold;
	font-size: 20px;
}

.div-elements{
	position: absolute;
	z-index: 1000;
	float: left;
	right: 1.5%;
}
.btn-element{
	width: 200px;
	margin-top: 10px;
}
.input-item{
	width: 200px;
	margin-left: 25px;
}
td{
	padding-top: 5px;
}
#items-list table tr td{
	padding: 5px;
}
#items, #title, #sponsor, #image{
	display: none;
	background-color:whitesmoke ;
	border-radius: 7px;
	border:solid 1px #cdcdcd;
	box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2);
	width: 470px;
	padding: 10px;
	margin-top: 5px;
	text-align: -webkit-center;
}

.title-class, .items-class, .sponsor-class, .image-class{
	position: relative;
}

.box {
	width: 150px;
	height: 150px;
	background-color:#00b3ee;
	text-align: center;
}
.text {
	margin-top: 30px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
}
.opac {
	opacity: .8;
}
.move-cursor {
	cursor: move;
}
.grab-cursor {
	cursor: -webkit-grabbing;
}

.form{
	position: fixed;
	right: 0px;
	top: 235px;
	width: 19%;
	height: 100%;
	margin-left: -30px;
	margin-top: 10px;
	float: left;
	display: block;
}
.crud{
	display: none;
	top: 0px;
	right: 0px;
	position: absolute;
}

.items-class:hover .crud,.title-class:hover .crud,.sponsor-class:hover .crud,.image-class:hover .crud{
	display: block;
}

/*element css*/
/*Items css*/
.itemClass{
	display:block;
	height: auto;
	overflow: hidden;
	line-height: 15px;
	color: #666;
	font-size: 11px;
	font-family: tahoma,arial;
	padding:9px;
	border-bottom:1px solid #cdcdcd ;
	vertical-align: middle;
}
.itemClass a {
    color: #0f0f0f;
}

.itemClass a span {
	color: #0f0f0f;
	padding-left: 8px ;
}

.itemClass a div {
	color: #0f0f0f;
	padding-left: 10px;
    display: flex;
}

.sticky {
	position: fixed;
	right: 20px;
	margin-left: 20px;
	top:5px;
}

/*import-template*/
.input-data{
	position: absolute;
	text-align: center;
	width: 300px;
}
.import-sticky{
	position: fixed;
	margin-top: 20px;
	top: 0px;
}