.menu1 ul{
	position: absolute;
	z-index: 999;
}

.break{
	clear: both;
	height: 10px;
	width: 100%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.break90{
	clear: both;
	height: 10px;
	width: 90%;
	margin:auto;
	border-bottom: 1px solid #EEEEEE;
}

.space20{
	height: 20px;
	width: 100%;
}


.row-item{
	padding-left:15px;
}

.border-left{
	border-left: 1px solid #EEEEEE;
}

.border-right{
	border-right: 1px solid #EEEEEE;
}

a:hover{
	text-decoration: none;
}

.myheader{
	background-color: #337AB7;
	color:white;
}

.clear{
	clear:both;
}

#template-layout{
	width: 59%;
	height: inherit;
	height-max: auto;
	float: left;
	display: block;
	border:dotted 3px #cdcdcd;
}

/*element css*/
/*Items css*/
.itemClass{
	display: list-item;
	height: auto;
	overflow: hidden;
	line-height: 15px;
	color: #666;
	font-size: 11px;
	font-family: tahoma,arial;
	padding:9px;
	border-bottom:1px solid #cdcdcd ;
	vertical-align: middle;
}

.itemClass a span {
	color: #0f0f0f;
	padding-left: 8px ;
}

.itemClass a div {
	color: #0f0f0f;
	padding-left: 10px;
	display: flex;
}
