a,a:hover{
	text-decoration: none;
}

/*template_add Css*/
.template-layout{
	position: relative;
	width: 78%;
	margin-top: 10px;
	float: left;
	display: block;
	border: dotted 3px #cdcdcd;
	min-height: 340px;
	height: 100%;
}

.template-layout.empty:after {
	content: attr(data-content);
	position: absolute;
	text-align: center;
	top: 140px;
	left: 280px;
	font-weight: bold;
	font-size: 20px;
}

.div-elements{
	position: absolute;
	z-index: 500;
	float: left;
	right: 1.5%;
}
.btn-element{
	width: 200px;
	margin-top: 10px;
}
.input-item{
	width: 200px;
	margin-left: 25px;
}
td{
	padding-top: 5px;
}
#items-list table tr td{
	padding: 5px;
}
#items, #titles, #sponsors, #image{
	display: none;
	background-color:whitesmoke ;
	border-radius: 7px;
	border:solid 1px #cdcdcd;
	box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2);
	width: 470px;
	padding: 10px;
	margin-top: 5px;
	text-align: -webkit-center;
}

.title-class, .items-class, .sponsor-class, .image-class{
	position: relative;
}

.box {
	width: 150px;
	height: 150px;
	background-color:#00b3ee;
	text-align: center;
}
.text {
	margin-top: 30px;
	color: #fff;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
}
.opac {
	opacity: .8;
}
.move-cursor {
	cursor: move;
}
.grab-cursor {
	cursor: -webkit-grabbing;
}

.form{
	position: fixed;
	right: 0px;
	top: 235px;
	width: 19%;
	height: 100%;
	margin-left: -30px;
	margin-top: 10px;
	float: left;
	display: block;
}
.crud{
	display: none;
	top: 0px;
	right: 0px;
	position: absolute;
}

.items-class:hover .crud,.title-class:hover .crud,.sponsor-class:hover .crud,.image-class:hover .crud{
	display: block;
}

/*element css*/
/*Items css*/
.itemClass{
	display:block;
	height: auto;
	overflow: hidden;
	line-height: 15px;
	color: #000000;
	font-size: 11px;
	font-family: tahoma,arial;
	padding:9px;
	border-bottom:1px solid #cdcdcd ;
	vertical-align: middle;
}
.itemClass a {
    color: #0f0f0f;
}

.itemClass a span {
	color: #0f0f0f;
	padding-left: 8px ;
}

.itemClass a div {
	color: #0f0f0f;
	padding-left: 10px;
    display: flex;
}

.sticky {
	position: fixed;
	right: 20px;
	margin-left: 20px;
	top:5px;
}

/*import-template*/
.input-data{
	position: absolute;
	text-align: center;
	width: 300px;
}
.import-sticky{
	position: fixed;
	margin-top: 20px;
	top: 0px;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.flex table  {
	margin-left: 6.5%;
}

#import{
	display: inline-block;
	width: 100%;
	min-height: 300px
}

#form-render{
	width: 68%;
	float: right
}

#form-render .data-input{
	position: relative;
	width: 100%;
	display: inline-flex;
	align-items: stretch;
	margin-bottom: 10px;
}

.data-input .input-flex{
	flex-basis: 100%;
}

.data-input .lab-key{
	min-height: 34px;
	width: 260px;
	text-align-last: right;
	margin-right: 10px;
}

.edit-data{
	width: 100%;
	padding: 5px;
	min-height: 32px;
	border-radius: 3px;
	outline: none;
	border: 1px solid #cdcdcd;
	word-break: break-word;
}

.edit-data:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

/* begin editor*/
#editor {
	border: solid 1px #cdcdcd;
	background-color: #2aabd2;
	box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.2);
	padding: 5px;
	position: absolute;
	display: none;
	z-index: 3000;
}

#cal1{
	position:absolute;
	height:0px;
	width:0px;
	top:100px;
	left:100px;
	overflow:none;
	z-index:-100;
}
#cal2{
	position:absolute;
	height:0px;
	width:0px;
	top:0px;
	left:0px;
	overflow:none;
	z-index:-100;
}

.button-editor {
	border-radius: 2px;
	border: none;
	padding: 7px;
}

.button-editor:hover {
	background-color: #5bc0de;
}

.bold, .underline, .italics {
	width: 30px;
	height: 35px;
	font-size: 16px;
	cursor: pointer;
	outline:none;
}

.color:hover {
	background-color: #2aabd2;
}
select {
	height: 25px;
	width: 45px;
	font-size: 14px;
	font-weight: bold;
	color: grey;
	background: #fafafa;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}
select:hover{
	color:black;
}

/*end editor*/