*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  text-align: center;
  margin-top: 300px;
}

.text {
  cursor: default;
  display: inline-block;
  position: relative;
  border: 2px solid #ddd;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}
.text:hover .iframe-preview {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0) scale(1);
          transform: translateX(-50%) translateY(0) scale(1);
}
.text:hover {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-color: #333;
}

.iframe-preview {
  -webkit-transition: .2s ease-in-out opacity, .2s ease-in-out transform;
  transition: .2s ease-in-out opacity, .2s ease-in-out transform;
  opacity: 0;
  position: absolute;
  bottom: 110%;
  left: 50%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  width: 230px;
  padding-right: 30px;
  height: 160px;
  border: 4px solid #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: translateX(-50%) translateY(10px) scale(0.9);
          transform: translateX(-50%) translateY(10px) scale(0.9);
}
.iframe-preview iframe {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.disclaimer {
  background: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  width: 50%;
  font-size: 13px;
  text-align: left;
  line-height: 1.25;
}
.disclaimer strong {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
